{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <div class="blog-post" style="padding: 39px 10px; min-height: 500px">
            <p><b>Q: is findvideonow.com free to use?</b></p>
            <p>Yes. findvideonow is an 100% free website.</p>
            <p></p>
            <p><b>Q: is findvideonow safe for my PC?</b></p>
            <p>Yes. findvideonow is very safe, no virus, no malware</p>
            <p></p>
            <p><b>Q: Can I need an account to download video?</b></p>
            <p>No. You don’t need register an account. Just click and download</p>
            <p></p>
            <p><b>Q: How do I download videos?</b></p>
            <p>Step 1: paste link you wish to download</p>
            <p>Step 2: Click "Start" button to begin conversion process</p>
            <p>Step 3: Select a format video/audio/caption you wish to download and click "download" button</p>
            <p></p>
            <p><b>Q: How can I contact findvideonow to give feedback?</b></p>
            <p>Please send us a message to: <a href="//m.me/findvideonow.me">//m.me/findvideonow.me</a></p>
        </div>
    </div>
{% endblock %}