<div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col">
                <h2>The best YouTube Video Downloader</h2>
                <p>we can helps you to download YouTube video with any qualities and formats. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>
                <h3>free download</h3>
            </div>
            <div class="col-6">
                <i class="fa fa-id-card-o fa-3x" aria-hidden="true"></i>
                <h3>No registration required</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <i class="fa fa-hand-peace-o fa-3x" aria-hidden="true"></i>
                <h3>Easy to use</h3>
            </div>
            <div class="col-6">
                <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                <h3>captions download</h3>
            </div>
        </div>

    </div>