<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="text-left display-4"><span style="background:#f00; color:#FFF; padding:0 10px; border-radius:5px;">You</span>Tube Downloader</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-left display-5" style="color:#797979; font-weight:400;">
                        Download YouTube videos in any quality and formats
                    </h5>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    {% if form.errors %}
                        <div id="errors">
                            <div class="inner">
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>{{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <form action="/yt/download" method="post" class="form-inline">
                        <div class="container">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-box input-group">
<!--                                    <div class="input-group-prepend">-->
<!--                                        <i class="fa fa-link fa-2x fa-fw" aria-hidden="true"></i>-->
<!--                                    </div>-->
                                    <input type="text" name="url" class="form-control"
                                           placeholder="insert a valid url here" value="{{ url }}">
                                </div>
                                <div>
                                    <button class="btn" style="background:red; color:#FFF;" type="submit">Start</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
